.tabcontent {
    display: none;
}

.tabcontent:target {
    display: initial;
}

.menu a {
    padding: 10px;
    background: lightgray;
    border-radius: 5px;
}

.menu a:hover{
    background: #ddd;
}
